<h1>Stupid Coaching</h1>
<div class="quote">
<%= @answer %>

<p><em>-You</em></p> </div>
<div class="quote" id="coach">
  <% if @answer == "I am going to work" %>
    <%= "Great!" %>
  <% elsif @answer.include?("?") %>
    <%= "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!"%>
  <% end %>
<p><em>-Your coach</em></p></div>

<%= link_to "Another question?", ask_path %>
